body {
    margin: 5%;
    font-family: Arial, sans-serif;
    align-items: center;
}

.header {
    text-align: center; 
    margin-top: 20px;
}

#description {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

#description h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

#description p {
    font-size: 18px;
    color: #666;
}